# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb
*.ipch
*.opensdf
*.sdf
*.cache
*.dbmdl
*.log
*.tlog/
*.lastbuildstate
*.vspscc
*.vssscc
*.psess
*.vsp
*.ncb
*.sbr
*.tlh
*.tli
*.tmp
*.bak
*.obj
*.idb
*.ilk
*.aps
*.pch
*.res
*.exe
*.dll
*.lib
*.exp
*.manifest
*.rpt
*.bsc
*.scc
*.cachefile
*.ipdb
*.iobj

# Visual Studio Code
.vscode/
.history/
*.code-workspace

# C++
*.o
*.so
*.a
*.out
*.gch

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
CMakeScripts/
Testing/
CTestTestfile.cmake
install_manifest.txt

# Others
*.swp
*.DS_Store
Thumbs.db
/docs
